/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 12pt;
}

body {
    background-color: black;
}

canvas {
    display: block;
    box-sizing: content-box;
}
